.auth {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth::after {
    content: "";
    background: url("../../assets/dragon__wallpaper.jpg");
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
    background-repeat: no-repeat;
    background-position: -440px -360px;
}