.action-summary {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
  height: 310px;
  z-index: 1;
}

.action-summary::after {
  content: "";
  position: absolute;
  width: 310px;
  height: 310px;
  top: 0;
  background: rgba(161, 149, 149, 0.7);
  filter: blur(4px);
  z-index: -1;
  border: 2px solid #000000;
}

.action-summary__header h2 {
  margin-top: 70px;
  margin-bottom: 20px;
}

.action-summary__paragraph {
  width: 255px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}
