.login {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    height: 310px;
    z-index: 1;
}

.login::after {
    content: "";
    position: absolute;
    width: 310px;
    height: 310px;
    top: 0;
    background: rgba(161, 149, 149, .7);
    filter: blur(4px);
    z-index: -1;
}

.login__header {
    margin-top: 25px;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.login__buttons {
    display: contents;
}

.login__errors {
    min-height: 18px;
    font-size: 12px;
    line-height: 19px;
    color: #DC143C;
    text-shadow: 0px 4px 4px rgba(220, 20, 60, 0.5);
    margin-bottom: 40px;
}

.login__copyrights {
    font-size: 12px;
}

.login__link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.login__link:hover {
    transition: 0.5s;
    color: #9BA195;
}

@media (min-width: 1440px) {
    .login {
        width: 515px;
        height: 460px;
        padding-left: 50px;
    }

    .login::after {
        width: 515px;
        height: 460px;
    }

    .login__header {
        margin-top: 70px;
        margin-bottom: 30px;
    }

    .login__errors {
        font-size: 18px;
        margin-bottom: 55px;
    }

    .login__copyrights {
        font-size: 18px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    }
}