@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');

* {
	font-family: 'Atma', 'cursive';
}

body {
	margin: 0;
}

h1 {
	font-size: 22px;
	font-weight: normal;
	line-height: 36px;
}

h2 {
	font-size: 20px;
	font-weight: normal;
	line-height: 32px;
}

p {
	font-size: 12px;
}

.input {
	width: 235px;
	height: 25px;
	background: #9b95a1;
	border: 0.5px solid #000000;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	text-align: center;
	margin-bottom: 15px;
}

.input::placeholder {
	text-align: center;
	color: #000;
}

.input:disabled {
	cursor: not-allowed;
}

.input:disabled::placeholder {
	color: var(--color-disabled);
}

.button {
	cursor: pointer;
	width: 235px;
	margin-bottom: 15px;
	background-color: #9b95a1;
	border: 0.5px solid #000000;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}

@media (min-width: 1440px) {
	h1 {
		font-size: 36px;
	}

	.input {
		height: 30px;
		margin-bottom: 16px;
		font-size: 16px;
	}

	.input::placeholder {
		font-size: 16px;
	}

	.button {
		height: 30px;
		margin-bottom: 16px;
		font-size: 16px;
	}
}

.layout {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.layout::after {
	content: '';
	background: url('./assets/paper__wallpaper.jpg');
	opacity: 0.6;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	background-repeat: no-repeat;
	background-position: 53% 90%;
}
